<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <style>
    body {
      font-family: Helvetica, arial, sans-serif;
      font-size: 15px;
      background: #f6f6f6;
      padding: 20px;
    }
  </style>
  <body>
    <table style="background-color: white; width: 600px; margin-left: auto; margin-right: auto; padding: 40px; border: 1px solid #DDDDDD;">
      <tbody>
        <tr>
          <td>
            <table>
              <tr>
                <td style="text-align: center">
                  <img src="https://miro.medium.com/max/1600/1*JO6maS2jRWMzRnOOn5j9tg.png" alt="Meeting" style="width: 200px;">
                  <h1 style="font-size: 22px; ">Welcome to MRA!</h1>
                  <p>Your go to meeting booking application.</p>
                </td>
              </tr>
            </table>
            <h3>Session Details</h3>
            <table style="display:table; border-collapse: collapse; width: 100%; margin-bottom: 40px;">
              <thead>
                <tr>
                  <th style="text-align: left; font-size: 14px;">Name:</th>
                   <th style="text-align: left; font-size: 14px;">Room:</th>
                  <th style="text-align: left; font-size: 14px;">Starts:</th>
                  <th style="text-align: left; font-size: 14px;">Ends:</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><p><%= @meeting.name %></p></td>
                  <td><p><%= @meeting.room.name %></p></td>
                  <td><p><%= readable_time(@meeting.start_time) %></p></td>
                  <td><p><%= readable_time(@meeting.end_time) %></p></td>
                </tr>
              </tbody>
            </table>
            <p></p>
            <p>Thanks for joining and have a great day!</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>





